.*
!/.yamllint
!.gitignore
!.helmignore
!.gitattributes
!.dockerignore
!.golangci.yml
!.gcloudignore
!.eslintrc.*
!.nycrc
!.clang-format
!.github
*.iml
bin
*.o
tmp
terraform.tfvars
terraform.tfstate*
kubeconfig
build/local-includes/*
build/allocation
!build/local-includes/README.md
/release
debug.test
obj
test/sdk/cpp/sdk/
build/scripts/k8s-export-openapi/main
vendor/

# EVR
echovr/
data/config.json
data/log
data/user
!data/user/echovr/users/dmo/demoprofile.json
